@import url('https://fonts.googleapis.com/css?family=Cairo');
*{
    font-family: 'Cairo', serif;
}
#app{
    margin-top : 50px;

}
.panel-heading{
    text-align: center;
}

th{
    text-align: right;
}
.login-box-body .form-control{
    text-align: right;
}
